*{
    font-family: 'Gill Sans';
}

input[type="text"]{
    border: 1px;
    border-color: black;
    border-style: solid;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.right{
    display: flex;
    justify-content: right;
    align-items: center;
}

.icon-button {
    cursor: pointer;
    display: inline-flex;
    border-radius: 50%;
}

.icon-button img, img.avatar{
    border-radius: 50%;
}

button {
    background: rgba(255, 255, 255, 0.0);
    cursor: pointer;
}

*::-webkit-scrollbar {
    height: 10px; 
    width: 10px;
}
  
*::-webkit-scrollbar-track {
    border-style: solid;
    border-color: rgb(211, 209, 209);
    background-color: white;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(252, 155, 75);
    border: 4px solid rgb(211, 209, 209);
}

