.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px;
    border-color: black;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 40px;
    z-index: 100;
    position: fixed;
    width: calc(100% - 40px);
    background-color: rgb(49, 47, 47);
}

.start {
    padding-left: 10px;
    font-size: 22px;
    font-weight: bolder;
    color: rgb(252, 155, 75);
}

.search-input:focus {
    border-color: rgb(252, 155, 75);
    border-width: 3px;
}

.search-input {
    width: 100%;
    background-image: url('..\\img\\imgonline-com-ua-Resize-yygiPjtsfCeDL.jpg');
    background-position: 5px 3px;
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-right: 10px;
}

.profile-and-notification-group{
    margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    padding-top: 3px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 101;
  }

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }


.dropdown-content p:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 300px){
    .input-group{
        display: none;
    }
    .profile-and-notification-group .notification {
        display: none;
    }
}