.main-panel{
    display: flex;
    position: fixed;
    flex-direction: column;
    width: calc(100% - 240px);
    height: calc(100% - 40px);
    margin-left: 200px;
}

.category-bar{
    display: flex;
    position: fixed;
    width: calc(100% - 95px);
    flex-direction: row;
    justify-content: left;
    height: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: white;
    z-index: 105;
}

.category{
    width: auto;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 90px;
    border-color: rgb(20, 10, 4);
    border-style: solid;
    border-width: 2px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.video-bar{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px;
    padding-top: 60px;
    justify-items: center;
    align-items: center;
    display: grid;
    overflow: auto;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-template-rows: repeat( auto-fit, minmax(300px, 1fr) );
}
.video{
    margin: 20px;
    max-width: 400px;
    max-height: 400px;
}

.video:hover{
    filter: grayscale(100%);
}

