.sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-between;
    width: 200px;
    min-width: 200px;
    height: calc(100% - 40px);;
}

.streamers-block{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: start;
    background-color: gray;
    width: 100%;
    height: calc(100% - 150px);
    overflow-y: auto;
}

.streamer-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.streamer-card:hover{
    background-color: rgb(252, 155, 75);
}

.user-name{
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    max-height: 16px;
    max-width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}

.information-block-container{
    display: flex;
    position: relative;
    height: 148px;
    width: auto;
    background-color: gray;
}

.information-block{
    flex-direction: column;
    background-color: rgb(49, 47, 47);
    margin: 20px;
    height: calc(100% - 40px);
    
    font-size: 16px;
    color: rgb(252, 155, 75);
    text-align: center;
}

.information-block p::selection {
    background: rgb(252, 155, 75);
    color: gray;
}

.indicator {
	background: rgb(252, 155, 75);
	border-radius: 50%;
	margin: 10px;
	height: 6px;
	width: 6px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

.contacts {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    margin-top: 10px;
}

.contacts li{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
    
}  

.social-media-img{
    filter: grayscale(100%);
}

.social-media-img:hover{
    filter: grayscale(0%);
}


@keyframes pulse {
	0% {
		transform: scale(0.95);
		
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@media only screen and (max-width: 1200px){
    .information-block-container,
    .indicator-and-subscribers-group,
    .user-name
    {
        display: none;
    }
    .sidebar
    .streamers-block{
        max-width: 55px;
        height: 100%;
    }
    .streamer-card{
        justify-content: center;
        align-content: center;

    }
    .main-panel{
        width: calc(100% - 95px);
        margin-left: 55px;
    }
}

